@import url(vars.css);

*{

    margin: 0;
    padding: 0;
    
}

html{

    height: 100%;

}

body{

    font-family: var(--ff-primary);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

footer{

    margin-top: auto;

}


header{

    background: var(--clr-green-light);
   
}

.footer{

    background: var(--clr-green-light);
    width: 100%;
    height: 5%;

}

hr{

    border-left: #ffff;
    width: 1rem;
    height: 50%;

}

.cards-wrapper{

    display: inline-flex;
}

.card{

    margin: 0 .5rem;
    width: 22vw;

}

.img-wrapper{

    height: 22vw;

}

.img-wrapper img{

    max-width: 100%;
    max-height: 100%;

}

.img-size{

    width: 10rem;

}

.text-light{

    color: #ffff;

}


.fw-light{

    font-weight: var(--fw-light);

}
.fw-med{

    font-weight: var(--fw-med);

}
.fw-bold{

    font-weight: var(--fw-bold);

}


.fs-sm{

    font-size: var(--fs-sm);

}
.fs-md{

    font-size: var(--fs-md);

}
.fs-mdxl{

    font-size: var(--fs-mdxl);

}




.seccion-perfil-receta .perfil-receta-body,
.seccion-perfil-receta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-receta .perfil-receta-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#8cfca4, transparent);
    margin-bottom: 1.25rem;
   
}
.carrusel-borde{
    --bs-gutter-x: 0,
  
}






@media (max-width: 750px) {
    .seccion-perfil-receta .lista-datos {
        width: 100%;
    }

    .seccion-perfil-receta .perfil-receta-portada,
    .seccion-perfil-receta .perfil-receta-body {
        width: 95%;
    }

    .seccion-perfil-receta  {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-receta  {
         margin-left: 0rem;
        margin-top: 0;
    }
}


