@import url(vars.css);


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.seccion-perfil-receta .perfil-receta-body,
.seccion-perfil-receta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-receta .perfil-receta-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#8cfca4, transparent);
    margin-bottom: 1.25rem;
}

.textBold { 
    font-weight: var(--fw-bold);
}












.seccion-perfil-receta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}











.seccion-perfil-receta .perfil-receta-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-receta .perfil-receta-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}


 .centrar-form{
    display: block;
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.5rem;
}
 .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-receta .perfil-receta-footer,
.seccion-perfil-receta .perfil-receta-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-receta .perfil-receta-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-receta .lista-datos {
    width: 50%;
    list-style: none;
}










@media (max-width: 750px) {
    .seccion-perfil-receta .lista-datos {
        width: 100%;
    }

    .seccion-perfil-receta .perfil-receta-portada,
    .seccion-perfil-receta .perfil-receta-body {
        width: 95%;
    }

    .seccion-perfil-receta  {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-receta  {
         margin-left: 0rem;
        margin-top: 0;
    }

}



